{% extends "layout.html" %}

{% block container %}
<div class="w-full max-w-7xl mx-auto px-4 py-8 mt-4 mb-24">

    <div
        class="text-center mb-12 bg-white dark:bg-gray-800 rounded-2xl p-8 border border-gray-100 dark:border-gray-700 shadow-sm">
        <h1
            class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            Bienvenidos - Sistema de Gestión Escolar
        </h1>
        <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
            Administra de forma eficiente tu padrón de alumnos, la plantilla docente, los cursos disponibles y el
            control de inscripciones desde un solo lugar.
        </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    </div>
</div>
{% endblock %}